body {
  background:#D1F2EB;
  color: ##F5B7B1
}

h1,h2,h3{
  color: white;
text-decoration: inherit;
}
p,h1,h2,h3,u1{
  text-align: center;
}

.content{
    display: inline-block;
  width: 100%;
  padding: 20px
}

.content-left{
  width: 50%;
  font-family:Helvetica;
  line-height: 1,5;
  padding-right: 20px;
  display: inline-block;
}


.content-right{
  float: right;
  width: 30%;
padding-right: 20px
}

{image
float: right }
